#addEntry {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 20px;
}

/* ::-webkit-scrollbar {
    display: none;
} */

body {
    font-family: 'Raleway', sans-serif;
}

.record>td>span>button>i {
    width: 14px;
    height: 16px;
}

.table td {
    vertical-align: middle;
}